.footer {
    width: 100%;
    height: 530px;
    background: $black;
    padding-top: 65px;
    border-top: 5px solid red;
    color: white;
    >div {
        display: flex;
        height: 100%;
        justify-content: space-between;
    }
    h3 {
        text-transform: uppercase;
    }
    ul {
        margin-top: 30px;
        list-style: none;
        li {
            padding: 8px 0;
            span {
                text-transform: uppercase;
            }
            a {
                color: $gray;
                text-transform: uppercase;
                transition: $tt;
                padding: 10px 0;
                &:hover {
                    color: white;
                }
            }
        }
    }
}

.icon {
    background: white;
    color: $black;
    display: inline-flex;
    font-size: 22px;
    margin-right: 10px;
}

.follow ul li a{
    display: flex;
    align-items: center;
}

.join {

}