$black: #000000;

$danger: #EB5757;
$dangerLight: #FFE3E3;
$dangerMiddle: #C99E98;

$success: #27AE60;
$successLight: #E3FFE9;
$successMiddle: #98C99A;

$primary: #63A6DC;
$primaryLight: #E6F1FA;
$primaryMiddle: #AFC7DA;

$gray: #828282;
$grayLight: #F0F2F2;
$devider: #C4C4C4;

$brandColor: #EB5757;

